body{
    background-color: #5c5643;
}
#root{
    display: flex;
    justify-content: center;   /* centra horizontal */
    align-items: center;       /* centra vertical */
  
}
h1{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor_principal{
    width: 390px;
    height: 383px;
    background-color: #362038;
    margin-top: 50px;
    border-radius: 7px;
}
.display,.display_resultado{
    background-color: #4b2424;
    color: #ffffff;
    text-align: right;
    border-left: 5px solid #362038;
    border-right: 5px solid #362038;
}
.display_resultado{
   
    height: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top: 5px solid #362038;
    
}
.display{
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid #362038;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
}
.display.auto-small{
    font-size: 1.1rem;
}

.contenedor_botones{
     display: grid;
  grid-template-areas:
    "ac ac div mul"
    "seven eight nine sub"
    "four five six add"
    "one two three eq"
    "zero zero dot eq";
  grid-template-columns: repeat(4, 1fr);
  
}
.boton_calculadora{
    width: 85px;
    height: 55px;
    margin: 5px;
    font-size: 25px;
    border-radius: 4px;
    background-color: #7a4f4f;
    color: white;
    border: none;
    transition: all 0.2s ease-in-out;/* suaviza el efecto */
}
.boton_calculadora:active{
    background-color: #bfa3a3;
    color: black;
}
.boton_calculadora:hover{
    background-color: #bfa3a3;  /* cambia el color de fondo */
    box-shadow:  0 0 10 px #00bcd4; /* resplandor */
    transform: scale(1.1);  /* se agranda un poquito */
}
#AC    { grid-area: ac; }
#DIV   { grid-area: div; }
#MUL   { grid-area: mul; }
#SUB   { grid-area: sub; }
#SEVEN { grid-area: seven; }
#EIGHT { grid-area: eight; }
#NINE  { grid-area: nine; }
#ADD   { grid-area: add; }
#FOUR  { grid-area: four; }
#FIVE  { grid-area: five; }
#SIX   { grid-area: six; }
#EQ    { grid-area: eq; }
#ONE   { grid-area: one; }
#TWO   { grid-area: two; }
#THREE { grid-area: three; }
#ZERO  { grid-area: zero; }
#DOT   { grid-area: dot; }


#ZERO{
    width: 185px;
}
#EQ{
    height: 120px;
}
#AC{
    width: 185px;
    background-color: #9b7474;
}